language: python

python:
  - "3.8"

before_install:
  - pip install -r requirements.txt

install:
  - python setup.py install

script:
  - python -m pytest --cov=socmodel/source

notifications:
  email:

    recipients:
      - simone.gasperini2@studio.unibo.it

    on_success: never
    on_failure: never

after_succes:
  - codecov
